// ==========================================================================
// Layout
// ==========================================================================


body { background-color: $gray1; }

.breadcrumb-mini-wrapper {
  height: 18px;
  text-align: center;

  .breadcrumb-mini { display: inline-block; }
}

.breadcrumb-mini-wrapper +
.content-body,
.content-body +
.breadcrumb-mini-wrapper { margin-top: 10px; }

.header-not-logged-in +
.container { margin-top: 17px; }

.main-wrapper > .container { padding: 17px 0 20px; }
