.oer-comments {

	.date { color: $gray5; }

	.status-info { color: $gray6; }

	.responses .status-content .post-text { margin-left: 40px; }

	.specialist { min-height: 110px; }

	.status-text {
		> .icon-link {
			width: 64px;

			img { @include square(64px); }
		}
	}

	.status {

		.button-comment,
		.button-review {
			display: inline-block;
			vertical-align: middle;
			line-height: 34px;

			&[class*="icon-"][class*="-before"]:before { margin-right: 10px; }
		}
	}

	.create-response {
		margin-top: 13px;
		margin-left: 74px;
	}

	.status-container {
		margin-left: 74px;
		margin-top: -36px;
	}

	.specialist-icon {
	  display: inline-block;
	  left: 35px;
	  margin-top: 80px;
	  position: absolute;
	}

	.status-buttons {
		text-align: center;

		li {
			display: inline; }

		li a {
			&[class*="icon-"][class*="-before"]:before {
				vertical-align: middle;
			}

			text-decoration: none;
			display: inline;
			margin-top: 8px;
		}
	}

 .button-big {
		padding-top: 3px;
		padding-bottom: 3px;
	}
}

.flap-to-comment:before { margin-right: 555px; }

.flap-to-review:before { margin-right: 305px; }

.oer-comments-commom { list-style-type: none; }