// ==========================================================================
// Estilos da área de informação sobre um aplicativo
// ==========================================================================


.oer-main-wrapper { padding: 10px 20px 20px; }

// Título com o nome do aplicativo.
.oer-title {
  @include heading(2);
  float: left;
}

.oer-header +
.oer-body { margin-top: 20px; }


// Coluna esquerda.
// ==========================================================================

.oer-left-sidebar { float: left; }

.oer-thumbnail +
.oer-rating { margin-top: 20px; }

.oer-stars-n-value {
  margin-bottom: 20px;
  overflow: hidden;
}

// Estrelas.

.oer-stars {
  list-style: none;
  margin: 0;
  overflow: hidden;
  float: left;
}

.oer-star {
  float: left;

  & +
  & { margin-left: 5px; }
}

// A nota média.

.oer-rating-value {
  @include heading(6);
  float: right;
  text-align: right;
  color: $gray5;
}

.oer-rating-value-max { color: $gray3; }

.oer-rating +
.oer-counters { margin-top: 7px; }

// Contadores.

.oer-counters {
  margin: 0;
  list-style: none;
}

.oer-counter {
  line-height: 18px;

  & +
  & { margin-top: 5px; }
}

.oer-data-separator {
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $gray4;
}

.oer-counters +
.oer-data-separator,
.oer-data-separator +
.oer-cc { margin-top: 20px; }

// Creative Commons.

.oer-cc { text-align: center; }


// Coluna do meio.
// ==========================================================================

.oer-middle-sidebar { float: right; }

.oer-info {
  float: left;
  list-style: none;
  margin: 0;
  color: $gray6;
}

.oer-info-item {
  overflow: hidden;

  & +
  & { margin-top: 5px; }
}

.oer-info-key {
  text-align: right;
  width: 60px;
}

.oer-info-value { width: 468px; }

.oer-info-key,
.oer-info-value { float: left; }

.oer-info-key +
.oer-info-value { margin-left: 10px; }

.oer-buttons {
  float: right;

  button {
    display: block;
    clear: both;
    width: 158px;
    margin-bottom: 12px;
  }

  a { margin-top: 8px; }
}

.oer-info-n-buttons +
.oer-meta-wrapper { margin-top: 20px; }

.oer-meta-wrapper {
  overflow: hidden;
  padding-left: 70px;
}

.oer-meta {
  list-style: none;
  margin: 0;
  float: left;
}

.oer-meta-item {
  line-height: 14px;

  & +
  & { margin-top: 5px; }
}

.meta-data-column-1 { width: 280px; }

.meta-data-column-2 { width: 350px; }

.meta-data-column-1 +
.meta-data-column-2 { margin-left: 20px; }

.oer-meta-wrapper +
.oer-images { margin-top: 10px; }

.oer-image-preview {
  @include box-shadow($shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.5));
  border: 1px solid $white;
  margin: 10px 9px;
}

.oer-image-preview-long { @include size(698px, 200px); }

.oer-image-preview-small {
  @include size(339px, 200px);
  float: left;
}

.apps-list {
  overflow: hidden;

  .apps-list-item {
    float: left;
    position: relative;
    $old-browser-value: 50%;
    $expression: "(100% - 10px) / 2";
    @include calc("width", $expression, $old-browser-value);
    @include box-sizing;
  }

  .apps-list-item +
  .apps-list-item { margin-left: 10px; }

  hr {
    @include background-clip(content-box);
    padding: 10px 0;
    margin: 0;
    height: 1px;
    border: none;
    background-color: $gray3;
  }
}
