.oer-comments {
	.button-big {
		line-height: 34px;
		padding-top: 3px;
		padding-bottom: 3px;

		&[class*="icon-"][class*="-before"]:before { margin-right: 10px; }
	}

	.create-response { margin-top: 13px; }

	.reply-buttons-list {
		text-align: center;
		margin: 0;

		li { display: inline; }
	}

	.tab-left:before { margin-left: 335px; }

	.tab-right:before { margin-right: 305px; }
}

.specialist-review { min-height: 110px; }

.create-response { display: none; }

.status-list {
	margin: 0;

	.status {
		position: relative;
		overflow: visible;
	}

	.specialist-icon {
	  display: inline-block;
	  left: 16px;
	  top: 64px;
	  position: absolute;
	}

	.subject > .author-thumbnail { @include square(64px); }

	.status-content,
	.create-response,
	.responses { margin-left: 74px; }
}