.oer-main {
  margin: 10px 20px 20px 20px;
  overflow: auto;
    
  h2 {
    margin-bottom: 20px;
    float: left;
  }
}


.oer-add-favorite {
  float: right;
  padding-left: 5px;
  cursor: pointer;
}

.oer-data {
  float: left;
  clear: left;
  margin-right: 18px;
    
  li {
    padding: 0 5px 3px 0;
    list-style: none;
    font-size: 11px;
    color: $gray5;
  }

  h6 {
    color: $gray5;
    float: right;
        
    span { color: $gray3; }
  }
}

.oer-stars li {
  float: left;
  cursor: pointer;
}

.data-app {
  clear: both;
  padding: 15px 0 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray4;
}

.oer-cc {
  text-align: center;
    
  img {
    padding-bottom: 4px;
    cursor: pointer;
  }
}

.oer-info-app {
  color: $gray6;
  float: left;
    
  p { margin: 0; }
}

.info {
  clear: left;
  float: left;
  font-style: italic;
  text-align: right;
  width: 60px;
}

.description {
  padding: 0 0 8px 10px;
  float: left;
  width: 475px;
}

.oer-buttons {
  float: right;
    
  button {
    display: block;
    clear: both;
    width: 158px;
    margin-bottom: 12px;
  }
    
  a { margin-top: 8px; }
}

.oer-meta-data {
  font-size: 11px;
  color: $gray5;
    
  p {
    margin: 0; 
    span { font-style: italic; }
  }
}
    
.meta-data-column-1 {
  margin-left: 70px;
  float: left;
}

.meta-data-column-2 {
  float: right;
  width: 345px;
}

.oer-images {
  float: right;
    
  img {
    float: right;
    margin: 15px 3px 10px 15px;
    border: 1px solid white;
    @include box-shadow($shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.5));
  }
  
  .small-image {
      background-color: gray;
      width: 339px;
      height: 200px;
  }
}