<div id="app-checkout-step-4" class="system-message message-success fade in hide modal-add-oer">
  <a data-dismiss="alert" class="message-close">×</a>
  <p><strong>Muito bem</strong>! Seu Módulo e sua Aula foram criados com este Recurso Educacional Aberto. Para visualizá-lo, clique no botão abaixo. Ou feche esta mensagem para voltar à página anterior.</p>
  <%= link_to "Visualizar a Aula", "#", class: "button-success", title: "Visualizar a Aula" %>
</div>
