<% if rating > 0 %>
  <ol class="general-list-item-stars">
    <% rating.times do %>
      <li class="general-list-item-star">
        <span class="icon-star-full-gray_16_18 show text-replacement">Estrela</span>
      </li>
    <% end %>
  </ol>
<% end %>
