<%= render :partial => 'shared/form_sign_in' %>
<hr class="header-separator">
<div class="facebook-sign-in">
  <a href="http://www.redu.com.br/auth/facebook" class="facebook-sign-in-button">Entre com sua conta do Facebook</a>
</div>
<hr class="header-separator">
<div class="header-sign-in-recover">
  <a href="http://www.redu.com.br/recuperar_login_senha" class="link-secondary">Esqueceu seu login ou senha? Clique aqui</a>
</div>
