<form class="header-sign-in-form">
  <div class="control-group">
    <div class="control-label">
      <label for="login">Login</label>
    </div>
    <div class="controls">
      <input type="text" placeholder="Seu login ou e-mail cadastrado" id="login">
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <label for="password">Senha</label>
    </div>
    <div class="controls">
      <input type="password" placeholder="Sua senha" id="password">
    </div>
  </div>
  <div class="header-sign-in-form-submit">
    <div class="control-group pull-left">
      <div class="controls">
        <div class="control-checkbox">
          <input type="checkbox" id="remember-me">
          <label for="remember-me" class="legend">Mantenha-me conectado</label>
        </div>
      </div>
    </div>
    <input type="submit" value="Enviar" class="button-primary pull-right">
  </div>
</form>
