<%= form_tag apps_path, :method => :get, :class => "form-search pull-right" do %>
  <%= text_field_tag :search, params[:search], :class => "control-area", :placeholder => "Procure por aqui...", "data-toggle" => "#apps-portal-breadcrumb" %>
  <button class="control-append-area button-default" type="submit">
    <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
  </button>
<% end %>
